<p>Olá <%= @user.name %>,</p>

<p>A Clínica <%= @clinic.name %> preparou o seu orçamento. Abaixo estão os detalhes:</p>

<p><a href="<%= exams_budget_url(@budget.id) %>">Ver na Plataforma</a></p>

<p>Atenciosamente,</p>
<p>Equipe Via Consultas</p>
