<p>Olá,</p>

<p>Esqueceu sua senha para o email <strong><%= @user.email %></strong>? Tudo bem! Aqui está seu código para mudar sua senha:</p>

<p><%= @code %></p>

<p>Se você não pediu para trocar sua senha, pode ignorar esse email sem se preocupar. O código expira em 20 minutos. Só é possível trocar sua senha com acesso a esse email.</p>

<hr>

<p>Tem alguma questão ou dúvida pendente? Responda a esse email e nossa equipe de suporte vai te auxiliar!</p>
