<p>Olá <%= @user.name %>,</p>

<p>O pagamento do exame foi realizado com sucesso.</p>

<p>Para acompanhar o status, você pode acessar sua plataforma de consultas através do link abaixo:</p>

<p><a href="<%= exams_budget_url(@budget.id) %>">Ver na Plataforma</a></p>

<p>Atenciosamente,</p>
<p>Equipe Via Consultas</p>
