<p>Olá, <%= @clinic.name %>,</p>

<p>Você recebeu um novo orçamento enviado por um paciente.</p>

<p>Para acessar os detalhes do orçamento, clique no link abaixo:</p>

<p><a href="<%= edit_clinics_exams_budget_url(@budget.id) %>">Ver na Plataforma de Consultas</a></p>

<p>Atenciosamente,</p>
<p>Equipe Via Consultas</p>
